# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv/
env/
venv/

# VS Code / IDE settings
.vscode/
.idea/

# OS files
.DS_Store

# Various
recording.wav
response.wav
document_embeddings.npy
chunks.npy
temp_uploaded.pdf
